<settings>

    <setting propertyKey="@Properties.BackgroundColor" title="@Strings.BackgroundColor">
        <settingConfig type="list">
            <listEntry value="0">@Strings.ColorBlack</listEntry>
            <listEntry value="1">@Strings.ColorWhite</listEntry>
            <listEntry value="2">@Strings.ColorBlue</listEntry>
            <listEntry value="3">@Strings.ColorLightBlue</listEntry>
            <listEntry value="4">@Strings.ColorGreen</listEntry>
            <listEntry value="5">@Strings.ColorRed</listEntry>
            <listEntry value="6">@Strings.ColorYellow</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ForegroundColor" title="@Strings.ForegroundColor">
        <settingConfig type="list">
            <listEntry value="0">@Strings.ColorBlack</listEntry>
            <listEntry value="1">@Strings.ColorWhite</listEntry>
            <listEntry value="2">@Strings.ColorBlue</listEntry>
            <listEntry value="3">@Strings.ColorLightBlue</listEntry>
            <listEntry value="4">@Strings.ColorGreen</listEntry>
            <listEntry value="5">@Strings.ColorRed</listEntry>
            <listEntry value="6">@Strings.ColorYellow</listEntry>
        </settingConfig>
    </setting>


    <setting propertyKey="@Properties.Hand12Show" title="@Strings.Hand12Show">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.Hand12Color" title="@Strings.Hand12Color">
        <settingConfig type="list">
            <listEntry value="0">@Strings.ColorBlack</listEntry>
            <listEntry value="1">@Strings.ColorWhite</listEntry>
            <listEntry value="2">@Strings.ColorBlue</listEntry>
            <listEntry value="3">@Strings.ColorLightBlue</listEntry>
            <listEntry value="4">@Strings.ColorGreen</listEntry>
            <listEntry value="5">@Strings.ColorRed</listEntry>
            <listEntry value="6">@Strings.ColorYellow</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.Hand24Show" title="@Strings.Hand24Show">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.Hand24Color" title="@Strings.Hand24Color">
        <settingConfig type="list">
            <listEntry value="0">@Strings.ColorBlack</listEntry>
            <listEntry value="1">@Strings.ColorWhite</listEntry>
            <listEntry value="2">@Strings.ColorBlue</listEntry>
            <listEntry value="3">@Strings.ColorLightBlue</listEntry>
            <listEntry value="4">@Strings.ColorGreen</listEntry>
            <listEntry value="5">@Strings.ColorRed</listEntry>
            <listEntry value="6">@Strings.ColorYellow</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.Hand24Needle" title="@Strings.Hand24Needle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ShowMinuteHand" title="@Strings.ShowMinuteHand">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.MinuteColor" title="@Strings.MinuteColor">
        <settingConfig type="list">
            <listEntry value="0">@Strings.ColorBlack</listEntry>
            <listEntry value="1">@Strings.ColorWhite</listEntry>
            <listEntry value="2">@Strings.ColorBlue</listEntry>
            <listEntry value="3">@Strings.ColorLightBlue</listEntry>
            <listEntry value="4">@Strings.ColorGreen</listEntry>
            <listEntry value="5">@Strings.ColorRed</listEntry>
            <listEntry value="6">@Strings.ColorYellow</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.CustomHandSize" title="@Strings.CustomHandSize">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.Hand12Length" title="@Strings.Hand12Length">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Short</listEntry>
            <listEntry value="1">@Strings.Medium</listEntry>
            <listEntry value="2">@Strings.Long</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.Hand12Width" title="@Strings.Hand12Width">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Thinnest</listEntry>
            <listEntry value="1">@Strings.Thin</listEntry>
            <listEntry value="2">@Strings.Medium</listEntry>
            <listEntry value="3">@Strings.Thick</listEntry>
            <listEntry value="4">@Strings.Thickest</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.Hand24Length" title="@Strings.Hand24Length">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Short</listEntry>
            <listEntry value="1">@Strings.Medium</listEntry>
            <listEntry value="2">@Strings.Long</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.Hand24Width" title="@Strings.Hand24Width">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Thinnest</listEntry>
            <listEntry value="1">@Strings.Thin</listEntry>
            <listEntry value="2">@Strings.Medium</listEntry>
            <listEntry value="3">@Strings.Thick</listEntry>
            <listEntry value="4">@Strings.Thickest</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.HandMinuteLength" title="@Strings.HandMinuteLength">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Short</listEntry>
            <listEntry value="1">@Strings.Medium</listEntry>
            <listEntry value="2">@Strings.Long</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.HandMinuteWidth" title="@Strings.HandMinuteWidth">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Thinnest</listEntry>
            <listEntry value="1">@Strings.Thin</listEntry>
            <listEntry value="2">@Strings.Medium</listEntry>
            <listEntry value="3">@Strings.Thick</listEntry>
            <listEntry value="4">@Strings.Thickest</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ShowDate" title="@Strings.ShowDate">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ShowMoon" title="@Strings.ShowMoon">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ShowSteps" title="@Strings.ShowSteps">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ShowBattery" title="@Strings.ShowBattery">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ShowSunLines" title="@Strings.ShowSunLines">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ShowNightLines" title="@Strings.ShowNightLines">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ShowNoonLine" title="@Strings.ShowNoonLine">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.SunLinesColor" title="@Strings.SunLinesColor">
        <settingConfig type="list">
            <listEntry value="0">@Strings.ColorBlack</listEntry>
            <listEntry value="1">@Strings.ColorWhite</listEntry>
            <listEntry value="2">@Strings.ColorBlue</listEntry>
            <listEntry value="3">@Strings.ColorLightBlue</listEntry>
            <listEntry value="4">@Strings.ColorGreen</listEntry>
            <listEntry value="5">@Strings.ColorRed</listEntry>
            <listEntry value="6">@Strings.ColorYellow</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.AutomaticPosition" title="@Strings.AutomaticPosition">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.Latitude" title="@Strings.Latitude">
        <settingConfig type="numeric" />
    </setting>

    <setting propertyKey="@Properties.Longitude" title="@Strings.Longitude">
        <settingConfig type="numeric" />
    </setting>



</settings>
